body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  opacity: 1.0;
}

footer {
  position: absolute;
  width: 100%;
  padding: 15px;
  bottom: 0;
}

footer a {
  text-decoration: none;
  color: #000;
  font-style: italic;
  text-decoration: underline;
}

footer .left {
  float: left;
}

footer .right {
  float: right;
  padding-right: 30px;
}